.footer__socials {
    color: #fff;
    text-align: center;
    margin: 20px;
}

.footer__section {
    border: 1px solid transparent;
}

.footer__section:hover{
    border-color: var(--color-primary-variant);
    transition: var(--transition);
    background-color: var(--color-primary-variant);
}

.footer__text {
    color: #fff;
    text-align: left;
}